covid/__pycache__/__init__.cpython-37.pyc
covid/__pycache__/settings.cpython-37.pyc
covid/__pycache__/urls.cpython-37.pyc
covid/__pycache__/wsgi.cpython-37.pyc
detspace/__pycache__/__init__.cpython-37.pyc
detspace/__pycache__/settings.cpython-37.pyc
detspace/__pycache__/urls.cpython-37.pyc
detspace/__pycache__/wsgi.cpython-37.pyc
website/__pycache__/__init__.cpython-37.pyc
website/__pycache__/admin.cpython-37.pyc
website/__pycache__/apps.cpython-37.pyc
website/__pycache__/models.cpython-37.pyc
website/__pycache__/urls.cpython-37.pyc
website/__pycache__/utils.cpython-37.pyc
website/__pycache__/views.cpython-37.pyc
website/migrations/__pycache__/__init__.cpython-37.pyc
website/migrations/__pycache__/0001_initial.cpython-37.pyc
