/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- 
import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/*****---------------------------------------- 1)
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- 
import Files 
---------------------------------------------------------------------*/

@import url(normalize.css);
/*@import url(icomoon.css);*/
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);
@import url(nice-select.css);
@font-face {
     font-family: 'helveticaregular';
     src: url('../fonts/helvetica_400-webfont.woff2') format('woff2'), url('../fonts/helvetica_400-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     padding: 0;
     padding-right: 0;
     margin: 0;
     box-sizing: border-box;
}

.container {
     max-width: 1450px;
     align-items: left;
     
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     margin:0;
     padding:0;
}

body:not(.modal-open){
    padding-right: 0px !important;
  }
  
  a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.active,a:hover{
   background: #1b9bff;
   transition: .3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}
ul {
   list-style: none; /* Remove default bullets */
 }
 
ol {
    margin: 0px;
    padding: 0px;
    list-style: decimal;
}

p {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
}

a {
    color: #50a56a;
    text-decoration: none;
    outline: none !important;
    text-decoration: underline;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}



.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

/* nav_detspace css start */

.nav_detspace{
    background: #0082e6;
    height: 80px;
    width: 100%;
    padding-right: 0;
    min-width: fit-content;


}

.label_logo{
    color:white;
    font-size: 1.5em;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bolder;
}

.nav_detspace ul{
    float: center;
    margin-right: 40px;
    align-items: center;
    margin-left: 20%;
}

.nav_detspace ul li{
    display: inline-block;
    line-height:55px;
    margin: 0 5px;
    font-weight: bold;
    
}

.nav_detspace ul li a{
    color:white;
    font-size: 1.4em;
    margin: 0 5px;
    padding: 7px 13px;
    border-radius: 3px;
    
}


.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    justify-content:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}

#check{
    display:none;
}

@media (max-width: 1381px){
    .nav_detspace{
        height: 100px;
    }
    
    .label_logo{
    font-size: 1.2em;
    padding-left: 10px;
max-width: 10px;
    }
    .nav_detspace ul li a{

        font-size: 1.1em;
overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20px;
        white-space: pre-line;
        
    }

}

@media (max-width: 1194px){
    .checkbtn{
        display:block;
    }

    .nav_detspace ul{
        position:fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top:100px;
        left:-160%;
        text-align: center;
        transition: all .5s;
z-index: 1;
    }
    .nav_detspace ul li{
        display:block;
        margin: 60px 0;
        line-height: 30px;
    }
    .nav_detspace ul li a{
margin-left: 15%;
        font-size: 1.2em;
        
    } 
     a.active,a:hover{
        background: none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left: -20%;
    } 
    /* .nav_detspace{
        height: 160px;
    }
    .nav_detspace ul li{
        line-height:40px;
        margin-left: 40px;    
    }
    
    .nav_detspace ul{
        margin-left: 10%;
    }

    .nav_detspace ul li a{

        text-align: justify;
        
    } */
}


    @media (max-width: 540px){
        /* .label_logo{
        font-size: 0.9em;
        padding-left: 10px;
        line-height: 40px;
        padding: 0 5px;
        font-weight: bolder;
    
        }
        .nav_detspace ul li a{
    
            font-size: 0.8em;
            padding: 1px 3px;
            
        }

        .nav_detspace ul li{
            line-height:30px;
            display: inline-block;
            margin-left: 10px;
        }
        .nav_detspace{
            height: 140px;
        }

        ul li {
            font-size: 13px;
            padding: 6px 2px 6px 26px;
        } */
        /* .nav_detspace ul{
            
            top:140px;
            
        } */
    }

    @media (max-width: 402px){
        /* .label_logo{
        font-size: 0.8em;
        padding-left: 10px;
        line-height: 20px;
        padding: 0 3px;
        font-weight: bolder;
    
        }
        .nav_detspace ul li a{
    
            font-size: 0.7em;
            padding: 1px 3px;
            
        }

        .nav_detspace ul li{
            line-height:18px;
            display: inline-block;
            margin-left: 0%;
        } */
    }

    @media (max-width: 258px){
        
        /* .nav_detspace{
            height: 210px;
        }
.nav_detspace ul{
            
            top:212px;
            
        } */

    }
/* nav_detspace css ends*/


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}

.visualizer {
     padding-bottom: 60px;
     }

.titlepage h2 {
 /**   text-transform: uppercase; **/
     font-size: 45px;
     color: #353d47;
     line-height: 50px;
     font-weight: bold;
     padding: 0;
     display: inline-block;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
.text_align_left {
     text-align: left;
}

.text_align_right {
     text-align: right;
}

.text_align_center {
     text-align: center;
}


/*-- header --*/

.header-area  {
     padding: 0px 0px;
     color: #f1f1f1;
     width: 100%;
     z-index: 9999999;
     /*height: 17px;*/
     background:#5d24edf1;
     align-items: left;
     justify-content: left;

}

.left {

position: absolute;
    background: #00132b;
    width: 80px;
    left: 0;
    height: 87px;
    top: 0;
    text-align: center;
    line-height: 87px;

}

.left  a i {
    color: #fff;

}
/** end header **/

/** banner section **/

.full_bg {
    background:url(../images/back.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 200vh;
    padding-bottom: 150px;
     position: relative;
}

.full_bg_white {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 200vh;
    padding-bottom: 150px;
     position: relative;
}

.full_bg_cha {
    background: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   padding-bottom: 150px;
    position: relative;
}

.full_bg .carousel-indicators {
    bottom: -43px;
    margin-left: 0;
    left: 20px;
    right: inherit;
    display: none;
}

.full_bg .carousel-indicators li.active {
     display: inline;
}

.full_bg .carousel-indicators li {
     text-indent: unset;
     opacity: 1;
     color: #fff;
     font-size: 18px;
     text-align: center;
     line-height: 59px;
     margin-right: 0px;
     background: transparent; 
     border: none;
     text-indent: unset;
     display: none;
}

.slider_main {
     padding-top: 11%;
}

.cuplle {
     position: inherit;
     bottom: 0;
     padding: 0;
     z-index: 9999;
     left: 0;
     right: 0;
}


#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
     width:80px;
     height: 80px;
     background-color: #ed1c24;
     color: #fff;
     font-size: 35px;
     opacity: 1;
     top: 50%;
     border-radius: 50%;
    
}

#banner1 .carousel-control-prev {
   
      left: 0%;
}

#banner1 .carousel-control-next {
     
     right: 0%;
}

#banner1 .carousel-control-next:focus,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-prev:hover {
     background-color: #fff;
     color: #ed1c24;
}


/** end banner section **/


/** about section **/

.about {
    padding-top: 0px;
}

.about .titlepage {
    padding-top: 30px;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    }
.about .titlepage h2 {
    position: relative;
    padding-bottom: 18px;
}

.about .titlepage h2::before {
    position: absolute;
    content: "";
    bottom: 0px;
    background: #ed1c24;
    width: 15%;
    height: 11px;
    left: 0;
    border-radius: 20px;
}
.about .titlepage p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
    padding: 10px 4px 10px 4px;
}


.about_img figure {
     margin: 0;
}

/** end about section **/

/** contact **/

.contact {
    background: #fff;
    padding-top: 50px;
}

.contact .titlepage {padding-bottom: 0;}
.main_form {padding-top:45px;}
.main_form .contactus {
     padding: 0px 20px;
     margin-bottom: 25px;
     width: 100%;
     height: 66px;
     background: #fff;
     color: #a3a3a2;
     font-size: 17px;
     font-weight: normal;
     border: #9d9d9c solid 2px;
}

.main_form .textarea {
     margin-bottom: 30px;
     width: 100%;
     background: #fff;
     color: #a3a3a2;
     font-size: 17px;
     font-weight: normal;
     padding: 40px 20px 10px 20px;
     border: #9d9d9c solid 2px;
     height: 120px;
}

.main_form .send_btn {
     font-size: 15px;
     transition: ease-in all 0.5s;
     background-color: #2b2b2b;
     text-transform: uppercase;
     color: #fff;
     max-width: 200px;
     width: 100%;
     display: block;
     font-weight: bold;
     height: 77px;
     line-height: 77px;
}

.main_form .send_btn:hover {
     background-color: #e92f0b;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #a3a3a2;
     opacity: 1;
}

/** end contact **/

.cevery_white {background: #fff;}
.cevery_bg {background: url(../images/bacteria3.png);
background-size: cover;
background-repeat: no-repeat; background-position: center;
padding: 80px 0;
}

.newsl {
    text-transform: uppercase;
    width: 100%;
    height: 87px;
    background: transparent;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    box-shadow: inherit;
    padding: 0 25px;
    border: #fff solid 1px;
    border-radius: 50px;

}

#colof *::placeholder {
    color: #fff;
    opacity: 1;
}

/** footer **/

.footer {
    padding-top: 80px;
    background: #111111;
    text-align: center;
}

.hedingh3 {padding-bottom: 25px;}
.hedingh3 h3 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 23px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.hedingh3 p {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}

ul.menu_footer {
    text-align: left;
    margin-bottom: 15px;
}

ul.menu_footer li a {
    color: #979793;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 10px;
    display: block;
}

ul.menu_footer li a:hover {
    color: #e92f0b;
}

ul.inst li {
    display: inline-block;
    margin: 4px;
}


ul.top_infomation li {
    display: block;
    font-size: 17px;
    color: #fff;
}

ul.top_infomation li:last-child {
    padding-right: 0;
}

ul.top_infomation li i {
    margin-right: 5px;
    color: #fff;
    text-align: center;
    transition: ease-in all 0.5s;
}

ul.top_infomation li a {
    color: #fff;
}

ul.top_infomation li a:hover {
    color: #e92f0b;
}

ul.top_infomation li i:hover {
    background: #eb4746;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: ease-in all 0.5s;
}


.copyright {
    margin-top: 60px;
   
    padding-bottom: 20px;
}

.copyright p {
    border-top:#d1d1d1 solid 1px;
    padding-top: 20px;
    color: #d1d1d1;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
}

.copyright a {
    color: #d1d1d1;
}

.copyright a:hover {
    color: #ed1c24;
}


/** end footer **/



/**  inner page css **/

.inner_page .full_bg {
     height: 106px;
     padding-bottom: 0;
    
}
.inner_page .about {
    margin-top: 145px;
    margin-bottom: 80px;
}

.inner_page .contact {
    padding-top: 145px;
    padding-bottom: 80px;
}
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/05/2018 12:24
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.eot");
        src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
             url("../fonts/Flaticon.woff") format("woff"),
             url("../fonts/Flaticon.ttf") format("truetype"),
             url("../fonts/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("../fonts/Flaticon.svg") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
        font-size: 24px;
        font-style: normal;
        margin-left: 0px;
      }
      
      .flaticon-bitbucket-logotype-camera-lens-in-perspective:before { content: "\f100"; }
      .flaticon-squarespace-logo:before { content: "\f101"; }
      .flaticon-smug:before { content: "\f102"; }
      .flaticon-flickr-website-logo-silhouette:before { content: "\f103"; }
      .flaticon-github-logo:before { content: "\f104"; }
      .flaticon-behance-logo:before { content: "\f105"; }
      .flaticon-dribbble:before { content: "\f106"; }
      .flaticon-themeforest:before { content: "\f107"; }

    
      .well {
        background: none;
    }

/* Detspace visualizer tables and buttons css start */

    .table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgb(164, 164, 255);
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

.table{
    display: block !important;
    overflow-x: auto !important;
    width: 100% !important;
    text-align:center;
  }
 
#producibles_table {
    font-size: 1em;
}

#producibles_table thead {
    font-size: 1.5em;
}

#detectables_table {
    font-size: 1em;
}

#detectables_table thead {
    font-size: 1.5em;
}

.html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);
}

.html.is-leaving .transition-fade{
    opacity: 0;
}

.left__buttons_panel{

    width:30%;

}

.basic_class{

    float: center;
    width:80%;

}
.hidden { display: none }

ul li {
    list-style: none;
    font-size: 13px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
}

.button_chassis{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(131, 211, 52);
    font-size: 1em !important;
    font-weight: 600 !important;
    text-align: center;
    margin-right:5px !important;
    height:4% !important;
    width:30% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color:#000;
}

.button_producibles{
    margin-left: 0px;
    margin-bottom: 10px;
    background-color:rgb(65, 190, 219);
    font-size: 1em !important;
    font-weight: 600 !important;
    /* text-align: center; */
    margin-right:5px !important;
    height:4% !important;
    width:30% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color:#000;
}

.button_detectables{
    margin-left: 0px;
    background-color:#cc3333;
    font-size: 1em !important;
    font-weight: 600 !important;
    /* text-align: center; */
    margin-right:5px !important;
    height:4% !important;
    width:30% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color:#000;
}
 
.modal {
    overflow-y:auto;
  }

.modal_title {
    height: 2%;
}

.modal-lg {
    max-width: 60% !important;
}

.td a { 
    display: block; 
    border: 1px solid black;
    padding: 16px; 
 }

 .txtvalue_chassis{
    caret-color: transparent;
    background: #C0C0C0;
    font-weight: 600;
    width: 50%;
    font-size: 0,8em;
}

.txtvalue_prod{
    caret-color: transparent;
    background: #C0C0C0;
    font-weight: 600;
    width: 50%;
    font-size: 0,8em;
}

.txtvalue_det{
    caret-color: transparent;
    background: #C0C0C0;
    font-weight: 600;
    width: 50%;
    font-size: 0,8em;
}

.close_button{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}