{% extends 'base.html' %}
{% load static %}


{% block content %}

 <br><br><br><br><br><br><br><br><br><br><br> 
      <!-- about -->
      <div class="about">
         <div class="container_width">
            <div class="row d_flex">
                   <div class="col-md-7">
                  <div class="titlepage text_align_left">
                     <h2>About DetSpace </h2>
                     <p><b>DetSpace</b> provides a set of integrated tools to select and design a biological circuit that performs the sensing of a molecule of interest 
                        by its enzymatic conversion to a detectable molecule through a transcription factor.
                     </p>
                     <p>
                        The entry point of the web server is a target among bio-based chemicals of major interest for metabolic engineering and the desired microbial host as industrial chassis. 
                        The server calculates the different alternative steps needed to convert the target chemical into one of the effector molecules reported in the literature that can be detected 
                        through a transcription factor, as well as the required precursors in the pathway. 
                        Retrosynthetic routes for production of the precursors in the chassis are also provided, as well as required supplements to add to the growth media. 
                        For the target bio-based production, the main backbone upstream routes for bio-based production are also detailed, and links are provided to retrosynthetic routes if 
                        further exploration is desired. The pathway information is shown through an interactive graphical interface based on the Cytoscape.js 
                        visualization infrastructure (PMID: 26415722).
                        Once a full detection circuit has been selected, DetSpace will provide the list of enzyme sequences, selected through the Selenzyme algorithm and the combinatorial library 
                        of the genetic circuits for building the detectable pathway. 
                     </p>   
                     <a class="read_more" href="about.html">About More</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img text_align_center">
                     <figure><img src="{% static 'website/images/plasmid_2.png'%}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <br><br><br><br><br><br><br><br><br><br>
      
      <div class="about">
         <div class="container_width">
            <div class="row d_flex">
                   <div class="col-md-7">
                  <div class="titlepage text_align_left">
                     <h2>About the metabolic space </h2>
                     <p>The metabolic space is the 
                     </p>
                     <a class="read_more" href="about.html">About More</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img text_align_center">
                     <figure><img src="images/about.png" alt="#"/></figure>
                  </div>
               </div>
              
            </div>
         </div>
      </div>
      <!-- end about -->
      <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
