<div id="viewer">
    <div id="interaction" class="interact">
        <div id="pathway_selection">
            <div class="info-title">Pathway selection</div>
            <div class="spacer"></div>
            <div id="table_choice">
                <!-- Will be filled by viewer.js -->
            </div>
            <input id="view_all_pathways_button" type="button" value="Show all pathways"/>
            <input id="hide_all_pathways_button" type="button" value="Hide all pathways"/>
            <input id="redraw_pathways_button" type="button" value="Refresh layout"/>
        </div>
        <div id="cofacor_handling">
            <div class="info-title">Cofactor options</div>
            <div class="spacer"></div>
            <input id="show_cofactors_button" type="button" value="Show cofactors"/>
            <input id="remove_cofactors_button" type="button" value="Hide cofactors"/>
        </div>
        <div id="complete_pathways">
            <div class="info-title">Complete pathways</div>
            <div class="spacer"></div>
            <input id="view_complete_pathways_button" type="button" value="Show all complete pathways"/>
            <input id="hide_complete_pathways_button" type="button" value="Hide all complete pathways"/>
        </div>
        <div id="download_galaxy">
            <div class="info-title">Export to Galaxy</div>
            <div class="spacer"></div>
            <input id="download_galaxy_button" type="button" value="Export to Galaxy"/>
        </div>
    </div>
    <div id="cy"></div>
    <div id="info">
        <div id="molecule"></div>
        <div class="info" id="information">
            <!-- Statup legend
            <div id="panel_startup_legend">
                <div class="info-title">Legend</div>
                <div class="info-subtitle">How to</div>    
                <div class="help-tip">1/ Pass the mouse hover pathway IDs (the "Pathway" column in the left table) to emphasize a specific path.</div>
                <div class="help-tip">2/ Click once on a pathway ID (in the left table) to "pin" a path. When at least one pathway is pinned,
                    other pathways are faded.Click a second time on a pinned pathway ID to unpin it.</div>
                <div class="help-tip">3/ Mark / unmark the checkboxes (the "Show" column in the left table) to select which pathways are visible.</div>
                <div class="help-tip">4/ Cofactors are hidden by default. One can use the "Show cofactors" and "Hide cofactors" button to change this display.</div>
                <div class="help-tip">5/ Click on the <span class="pathway_info_icon"></span> icon (in the left table) to visualise information about a pathway</div>
                <div class="help-tip">6/ Click on a node to visualise information about chemicals and reactions</div>
                <div class="info-subtitle">Node shape</div>
                <div class="help-content">
                    <p><span class="symbol-compound">&#9634;</span>&nbsp;Chemical</p>
                    <p><span class="symbol-transformation">&#9711;</span>&nbsp;Transformation (in/outgoing arrows show direction)</p>
                </div>
                <div class="info-subtitle">Compound color</div>
                <div class="help-content">
                    <p><span class="symbol-compound symbol-target-color">▢</span>&nbsp;Target</p>
                    <p><span class="symbol-compound symbol-inter-color">▢</span>&nbsp;Intermediate chemicals</p>
                    <p><span class="symbol-compound symbol-host-color">▢</span>&nbsp;Host</p>
                    <p><span class="symbol-compound symbol-precursor-color">▢</span>&nbsp;Precursors</p>
                    <p><span class="symbol-compound symbol-source-color">▢</span>&nbsp;Source</p>
                </div>
            </div> -->
            <!-- Information on a selected chemical -->
            <div id="panel_chemical_info">
                <div class="info-title">Chemical</div>
                <div class="info-name"><span class="chem_info_label"></span></div>
                <div class="spacer"></div>
                <!-- SVG depiction -->
                <div>
                    <div class="img-box">
                        <div class="chem_info_svg"></div>
                    </div>
                </div>
                <!-- SMILES -->
                <div>
                    <div class="info-subtitle">SMILES</div>
                    <div class="raw-text"><span class="chem_info_smiles"></span></div>
                    <div class="link raw-text"><span class="chem_info_smiles_search"></span></div>
                </div>
                <!-- Inchi -->
                <div>
                    <div class="info-subtitle">InChI</div>
                    <div class="raw-text"><span class="chem_info_inchi"></span></div>
                </div>
                <!-- Inchikey -->
                <div>
                    <div class="info-subtitle">InChIKey</div>
                    <div class="raw-text"><span class="chem_info_inchikey"></span></div>
                </div>
                <!-- Pathways involved in -->
                <div>
                    <div class="info-subtitle">Pathways involved in</div>
                    <div class="raw-text chem_info_pathids"></div>
                </div>
            </div>
            <!-- Information on a producible chemical -->
            <div id="panel_chemical_producible_info">
                <div class="info-title">Producible chemical</div>
                <div class="info-name"><span class="chem_producible_info_label"></span></div>
                <div class="spacer"></div>
                <!-- SVG depiction -->
                <div>
                    <div class="img-box">
                        <div class="chem_info_svg"></div>
                    </div>
                </div>
                <!-- SMILES -->
                <div>
                    <div class="info-subtitle">SMILES</div>
                    <div class="raw-text"><span class="chem_info_smiles"></span></div>
                    <div class="link raw-text"><span class="chem_info_smiles_search"></span></div>
                </div>
                <!-- Inchi -->
                <div>
                    <div class="info-subtitle">InChI</div>
                    <div class="raw-text"><span class="chem_info_inchi"></span></div>
                </div>
                <!-- Inchikey -->
                <div>
                    <div class="info-subtitle">InChIKey</div>
                    <div class="raw-text"><span class="chem_info_inchikey"></span></div>
                </div>
                <!-- PMID -->
                <div>
                    <div class="info-subtitle">PMID</div>
                    <div class="raw-text"><span class="chem_info_pmid"></span></div>
                </div>
                <!-- KEGG ID -->
                <div>
                    <div class="info-subtitle">KEGG ID</div>
                    <div class="raw-text"><span class="chem_info_keggid"></span></div>
                </div>
                <!-- MNX ID -->
                <div>
                    <div class="info-subtitle">MNX ID</div>
                    <div class="raw-text"><span class="chem_info_mnxid"></span></div>
                </div>
                <!-- Link to Systemsbiotech -->
                <div>
                    <div class="info-subtitle">Reference</div>
                    <div class="raw-text"><span class="chem_info_sbtreference"></span></div>
                </div>
            </div>
            <!-- Information on a detectable chemical -->
            <div id="panel_chemical_detectable_info">
                <div class="info-title">Detectable chemical</div>
                <div class="info-name"><span class="chem_detectable_info_label"></span></div>
                <div class="spacer"></div>
                <!-- SVG depiction -->
                <div>
                    <div class="img-box">
                        <div class="chem_info_svg"></div>
                    </div>
                </div>
                <!-- SMILES -->
                <div>
                    <div class="info-subtitle">SMILES</div>
                    <div class="raw-text"><span class="chem_info_smiles"></span></div>
                    <div class="link raw-text"><span class="chem_info_smiles_search"></span></div>
                </div>
                <!-- Inchi -->
                <div>
                    <div class="info-subtitle">InChI</div>
                    <div class="raw-text"><span class="chem_info_inchi"></span></div>
                </div>
                <!-- Inchikey -->
                <div>
                    <div class="info-subtitle">InChIKey</div>
                    <div class="raw-text"><span class="chem_info_inchikey"></span></div>
                </div>
                <div class="info-subtitle">Sensbio Information</div>
                <div id="table_detectable_info"></div>
            </div>
            <!-- Information on a selected reaction -->
            <div id="panel_reaction_info">
                <div class="info-title">Reaction</div>
                <div class="info-name"><span class="reaction_info_name"></span></div>
                <div class="spacer"></div>
                <!-- EC numbers -->
                <div>
                    <div class="info-subtitle">EC number(s)</div>
                    <div class="raw-text reaction_info_ecnumbers"></div>
                </div>
                <!-- Rule score -->
                <div>
                    <div class="info-subtitle">Rule score</div>
                    <div class="raw-text"><span class="reaction_info_rule_score"></span></div>
                </div>
                <!-- Reaction SMILES -->
                <div>
                    <div class="info-subtitle">Reaction SMILES</div>
                    <div class="raw-text"><span class="reaction_info_rsmiles"></span></div>
                </div>
                <!-- Reaction rule IDs -->
                <div>
                    <div class="info-subtitle">Rule ID(s)</div>
                    <div class="raw-text reaction_info_ruleids"></div>
                </div>
                <!-- Reaction template IDs -->
                <div>
                    <div class="info-subtitle">Reaction template ID(s)</div>
                    <div class="raw-text reaction_info_reaction_template_ids"></div>
                </div>
                <!-- Pathways involved in -->
                <div>
                    <div class="info-subtitle">Pathways involved in</div>
                    <div class="raw-text reaction_info_pathids"></div>
                </div>
                <!-- Crosslink to Selenzyme -->
                <div>
                    <div class="info-subtitle">Enzyme selection</div>
                    <div class="raw-text"><span class="reaction_info_selenzyme_crosslink"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>