            <!-- header -->
            <header class="header-area">
                <!--
                   <div class="left">
                      <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                   </div>
                   -->
                   <div class="container">
                   
                   <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9" >
                            <div class="navbar-area">
                               <nav class="site-navbar">
                                  <ul>
                                     <li><a href="index.html">DetSpace</a></li>
                                     <li><a href="api/">API</a></li>
                                     <li><a href="{% url 'about' %}">About</a></li>
                                  </ul>
                                  <button class="nav-toggler">
                                  <span></span>
                                  </button>
                               </nav>
                               <main id="swup" class="transition-fade"></main>
                            </div>
                         </div>
                      </div>
                   </div>
                </header>
                <div style="clear:both"> </div>
             <!-- end header -->
    