   {% load static %}
   <!DOCTYPE html>

   <!--
   __author__ = 'Martin, H., Marin, R., Carbonell, P.'
   __copyright__ = 'ai2 UPV, I2SysBio CSIC/UV'
   __license__ = 'MIT'
   -->

   <html lang="en">

   <head>
         <!-- basic -->
         <meta charset="utf-8">
         <meta name="viewport" content="initial-scale=1.0, width=device-width">
         <!-- style css -->
         <link rel="stylesheet" href="{% static 'website/css/style.css'%}">
         <script src="https://kit.fontawesome.com/cffb7498e6.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="nav_detspace">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
               <i class="fas fa-bars"></i>
            </label>
         <ul>
            <li><a href="{% url 'index' %}">DetSpace</a></li>
            <li><a href="/api/">API</a></li>
            <li><a href="{% url 'info' %}">Tutorial</a></li>
         </ul>
      </nav>
   </body>