
{% extends 'base.html' %}

{% load static %}

{% block content %}
   <div class="main_body">
      <div id="interaction" class="interact">
        <div>Prod: {{prod}}, Det: {{det}}</div>
        <div class="info-subtitle" style="margin-top:2%">Choose chassis organism</div>
        <input id="Chassis" type="button" class="btn button_chassis" onclick="hideShow()" value="Chassis"/> 
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_chassis" autocomplete="off" onkeydown="return false;" id="txtvalue" class="input_box_chassis" value="Escherichia Coli"/>
        <button  id="Delete selection" onclick="delete_chassis()" class="left_panel_button">&times;</button>
        
        <div id="dialogo" class ="hidden" style="display: none;">
            <select id="list-container" autocomplete="off" onchange="ddlselect();">
                <option selected="selected" disabled="disabled">-- Select your chassis--</option>
                <option id="BSUB">Bacilus Subtilis</option>
                <option id="GCF_000008765">Clostridium acetobutylicum</option>
                <option id="GCF_001638825">Deinococcus radiodurans</option>
                <option id="ECOLI">Escherichia Coli</option>
                <option id="GCF_000007985">Geobacter sulfurreducens</option>
                <option id="GCF_000238715">Klebsiella sp. 4_1_44FAA</option>
                <option id="PPUT160488">Pseudomonas putida</option>
                <option id="YEAST">Saccharomyces cerevisiae</option>
                <option id="GCF_00014615">Shewanella oneidensis</option>
                <option id="SCO">Streptomyces spp.</option>
                <option id="GCF_000340785">Synechocystis spp.</option>
                <option id="YARROWIA">Yarrowia lipolytica</option>
            </select>
         

            <script>
                function ddlselect(){
                   var d=document.getElementById("list-container");
                   var displaytext=d.options[d.selectedIndex].text;
                   $("#list-container").change(function() {
                     console.log( $(this).children(":selected").attr("id"));
                   orgid = $(this).children(":selected").attr("id");
                   });
                   //var displaytext="Chassis: "+d.options[d.selectedIndex].text+"  Taxon_ID: ";
                   document.getElementById("txtvalue").value=displaytext;
                   console.log(displaytext)
                   $("#dialogo").dialog("close");
                   var display =1;
                }
            </script>
         </div>
        <div class="info-subtitle">Select detectable route</div>
        <input type="button" data-toggle="modal" href="#modal_producibles" class="btn button_producibles" id="producibles" value="Producible"/>
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_prod" prod_id="{{prod}}" autocomplete="off" onkeydown="return false;" id="txtvalue_prod" value="Ethylene glycol"/>
        <button  id="Delete selection" onclick= "delete_producible()" class="left_panel_button">&times;</button>
        <input type="button" data-toggle="modal" href="#modal_detectables" class="btn button_detectables" id="detectables" value="Detectable"/>
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_det" det_id="{{det}}" autocomplete="off" onkeydown="return false;" id="txtvalue_det" value="methylmalonyl-coa"/>
        <button  id="Delete selection" onclick= "delete_detectable()" class="left_panel_button">&times;</button>

        <input id="load_pathway" type="button" onclick="show_pathways()" class="default_button btn btn-outline-dark" value="Generate" style="margin-top: 10px"/>

<!-- <ul id="info_pair">
            <li id="txt_intermediate_compounds" class="info_txt">Intermediate compounds:</li>
            <li id="txt_chassis_compounds" class="info_txt">Compounds in chassis:</li>
            <li id="txt_heterologous_compounds" class="info_txt">Heterologous compounds:</li>
            <li id="txt_suplement_compounds" class="info_txt">Supplement compounds:</li>
            <li id="txt_precursor_compounds" class="info_txt">Precursor compounds:</li>
          </ul> -->
        <div id="info_pair">
          <p id="txt_intermediate_compounds" class="info_txt">Intermediate compounds:</p>
          <p id="txt_chassis_compounds" class="info_txt">Compounds in chassis:</p>
          <p id="txt_heterologous_compounds" class="info_txt">Heterologous compounds:</p>
          <p id="txt_suplement_compounds" class="info_txt">Supplement compounds:</p>
          <p id="txt_precursor_compounds" class="info_txt">Precursor compounds:</p>
        </div>
        <div id="pathway_selection">
         <div class="info-subtitle">Pathways information</div>
         <div class="spacer"></div>
         <div id="table_choice">
             <!-- Will be filled by viewer.js -->
         </div>
         <input id="view_all_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Show all pathways"/>
         <input id="hide_all_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Hide all pathways"/>
         <input id="redraw_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Refresh layout" style="margin-top:2%"/>
         <input id="download_sbml_button" type="button" class="default_button btn btn-outline-dark" value="Download paths" style="margin-top:2%">
         <script>
            document.getElementById("download_sbml_button").onclick = function(){
              location.href = "/api/paths/"+String(product_chosen)+"/"+String(detect_chosen);
            };
         </script>
     </div>
</div>
                
      <div class="modal fade" id="modal_producibles">
         <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
              <div class="modal-header modal_title">Select your producible
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
              <input type="text" id="searchInput_prod" class="Search_box" placeholder="Search...">
              <button  id="Delete selection" onclick= "delete_auto_producible()" class="left_panel_button">&times;</button>
              <p id="noResultMessage_prod"></p>
              <div id="suggesstion-box_producibles"></div>
              <div id="producibles_modal_table"></div></div>
                        </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->

                                         
        <div class="modal fade" id="modal_detectables">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header modal_title">Select your detectable
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
              <input type="text" id="searchInput_det" class="Search_box" placeholder="Search...">
              <button  id="Delete selection" onclick= "delete_auto_detectable()" class="left_panel_button">&times;</button>
              <p id="noResultMessage_det"></p>
              <div id="suggesstion-box_detectables"></div>
              <div id="detectables_modal_table"></div></div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
                                 <script>
                                    function ddlselect_det()
                                    {
                                       var d=document.getElementById("detectables_table");
                                       for(var i = 0; i < d.rows.length; i++)
                        {
                           d.rows[i].onclick = function()
                           {
                                 rIndex = this.rowIndex;
                                 var detec=$(this.cells[0]);
                                    console.log(detec.text());
                                    document.getElementById("txtvalue_det").value=detec.text();
                                    $("#txtvalue_det").attr("det_id",detec.attr("id"));
                                    $('#modal_detectables').modal('hide');
                                    $('.modal-backdrop').remove();
                                    product_chosen= $("#txtvalue_prod").attr("prod_id");
                                    detect_chosen= $("#txtvalue_det").attr("det_id");
                                    if(product_chosen!="" && detect_chosen!=""){
                                       $.getScript("/api/net/"+String(product_chosen)+"/"+String(detect_chosen));
                                    }
                              

                           }
                        }
                                    }

                                 </script>
   
     <div class="visualizer" id="base">
         <script>
         $( function() {
             $( "#base" ).load( "{% static 'website/files/body_viz.html' %}" );
         });
       </script>  
    </div>

    <div style="clear:both"></div>
</div>



<!-- Javascript files-->
      <script src="{% static 'website/js/jquery.min.js'%}"type="text/javascript"></script>
      <script src="{% static 'website/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'website/js/jquery-ui.min.js'%}"></script>
      <!-- Table sorter -->
      <script src="{% static 'website/js/jquery.tablesorter.min.js'%}"></script>

      {% endblock %}
