
{% extends 'base.html' %}

{% load static %}

{% block content %}
   <div class="main_body">
      <div id="interaction" class="interact">
        <div class="info-subtitle" style="margin-top:2%">Choose chassis organism
         <input id="close_interaction_bttn" type="button" class="default_button btn btn-outline-dark" value="Hide" onclick="close_interaction()"/>
        </div>
        <input id="Chassis" type="button" class="btn button_chassis" onclick="hideShow()" value="Chassis"/> 
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_chassis" autocomplete="off" onkeydown="return false;" id="txtvalue" class="input_box_chassis" value="{{chassis_name}}" orgid="{{chassis}}"/>
        <button  id="Delete selection" onclick="delete_chassis()" class="left_panel_button">&times;</button>
        
        <div id="dialogo" class ="hidden" style="display: none;">
          <div class = select_organism>
            <h3>Select by organism</h3>
            <select id="list-container" autocomplete="off" >
              <option selected="selected" disabled="disabled">-- Select your chassis organism --</option>
              <optgroup label="Prokaryotes" class="collapsible"></optgroup>
                <optgroup label="&nbsp;Bacteriae"></optgroup>
                  <optgroup label="&nbsp;&nbsp;Aerobic"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Positive"></optgroup>
                      <option id="GCF_007641235">&nbsp;&nbsp;&nbsp;&nbsp;Corynebacterium sp.&nbsp;(BioCyc)</option>
                      <option id="GCF_001638825">&nbsp;&nbsp;&nbsp;&nbsp;Deinococcus radiodurans&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="SCO">&nbsp;&nbsp;&nbsp;&nbsp;Streptomyces spp.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Negative"></optgroup>
                      <option id="PPUT160488">&nbsp;&nbsp;&nbsp;&nbsp;Pseudomonas putida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_000091545">&nbsp;&nbsp;&nbsp;&nbsp;Thermus thermophilus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                  <optgroup label="&nbsp;&nbsp;Anaerobic/Facultative"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Positive"></optgroup>
                      <option id="BSUB">&nbsp;&nbsp;&nbsp;&nbsp;Bacilus Subtilis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="iHN637">&nbsp;&nbsp;&nbsp;&nbsp;Clostridium ljungdahlii&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option> 
                      <option id="iNF517">&nbsp;&nbsp;&nbsp;&nbsp;Lactococcus lactis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option>   
                      <option id="GCF_900475095">&nbsp;&nbsp;&nbsp;&nbsp;Streptococcus mutans&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_010120595">&nbsp;&nbsp;&nbsp;&nbsp;Streptococcus thermophilus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>  
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Negative"></optgroup>
                      <option id="ECOLI">&nbsp;&nbsp;&nbsp;&nbsp;Escherichia Coli&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="iAF987">&nbsp;&nbsp;&nbsp;&nbsp;Geobacter metallireducens&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option>
                      <option id="GCF_000007985">&nbsp;&nbsp;&nbsp;&nbsp;Geobacter sulfurreducens&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_000238715">&nbsp;&nbsp;&nbsp;&nbsp;Klebsiella sp.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_004522175">&nbsp;&nbsp;&nbsp;&nbsp;Paracoccus sp.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_00014615">&nbsp;&nbsp;&nbsp;&nbsp;Shewanella oneidensis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="GCF_000340785">&nbsp;&nbsp;&nbsp;&nbsp;Synechocystis spp.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="iLJ478">&nbsp;&nbsp;&nbsp;&nbsp;Thermotoga maritima&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option>
                  <optgroup label="&nbsp;&nbsp;Special cases"></optgroup>
                    <option id="GCF_000008765">&nbsp;&nbsp;&nbsp;Clostridium acetobutylicum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                <optgroup label="&nbsp;Archeae"></optgroup>
                  <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option>
                  <option id="GCF_000012285">&nbsp;&nbsp;Sulfolobus acidocaldarius&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
              <optgroup label="Eukaryotes"></optgroup>
                <optgroup label="&nbsp;Fungi"></optgroup>
                  <optgroup label="&nbsp;&nbsp;Yeast"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Aerobic"></optgroup>
                      <option id="YARROWIA">&nbsp;&nbsp;&nbsp;&nbsp;Yarrowia lipolytica&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Anaerobic/Facultative"></optgroup>
                      <option id="YEAST">&nbsp;&nbsp;&nbsp;&nbsp;Saccharomyces cerevisiae&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                      <option id="CALB">&nbsp;&nbsp;&nbsp;&nbsp;Candida albicans&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                  <optgroup label="&nbsp;Algae"></optgroup>
                    <option id="iRC1080">&nbsp;&nbsp;Chlamydomonas reinhardtii&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiGG</option>
                    <option id="GCF_000733215">&nbsp;&nbsp;Chlorella&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                    <option id="APLAT">&nbsp;&nbsp;Spirulina platensis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
                <optgroup label="&nbsp;Plants">
                  <option id="ARA">&nbsp;Arabidopsis thaliana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioCyc</option>
            </select>
          </div>
          <div class = select_application>
            <h3>Select by application</h3>
            <select id="list-container_apps" autocomplete="off">
              <option selected="selected" disabled="disabled">-- Select your chassis application --</option>
              <optgroup label="Laboratory"></optgroup>
                <option id="ARA">&nbsp;&nbsp;Arabidopsis thaliana</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="YEAST">&nbsp;&nbsp;Saccharomyces cerevisiae</option>
                <option id="SCO">&nbsp;&nbsp;Streptomyces spp.</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
              <option id="BIOFUEL" style="font-weight: bold">Biofuels</option>
                <option id="iRC1080">&nbsp;&nbsp;Chlamydomonas reinhardtii</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="iHN637">&nbsp;&nbsp;Clostridium ljungdahlii</option> 
                <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri </option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="iLJ478">&nbsp;&nbsp;Thermotoga maritima </option>
                <option id="YARROWIA">&nbsp;&nbsp;Yarrowia lipolytica</option>
                <option id="GCF_000733215">&nbsp;&nbsp;Chlorella</option>
              <option id="ELECT" style="font-weight: bold">Electricity generation</option>
                <option id="iAF987">&nbsp;&nbsp;Geobacter metallireducens</option>
                <option id="GCF_000007985">&nbsp;&nbsp;Geobacter sulfurreducens</option>
                <option id="GCF_00014615">&nbsp;&nbsp;Shewanella oneidensis</option>
              <option id="PHARMA" style="font-weight: bold">Pharmaceutical</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="iNF517">&nbsp;&nbsp;Lactococcus lactis</option> 
                <option id="SCO">&nbsp;&nbsp;Streptomyces spp.</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
              <option id="FOOD" style="font-weight: bold">Food industry</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="iNF517">&nbsp;&nbsp;Lactococcus lactis</option> 
                <option id="YEAST">&nbsp;&nbsp;Saccharomyces cerevisiae</option>
                <option id="GCF_010120595">&nbsp;&nbsp;Streptococcus thermophilus</option>  
              <option id="COSMETICS" style="font-weight: bold">Cosmetics</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="GCF_000733215">&nbsp;&nbsp;Chlorella</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="GCF_007641235">&nbsp;&nbsp;Corynebacterium sp.</option>
                <option id="GCF_004522175">&nbsp;&nbsp;Paracoccus sp.</option>
                <option id="GCF_900475095">&nbsp;&nbsp;Streptococcus mutans</option>
                <option id="GCF_010120595">&nbsp;&nbsp;Streptococcus thermophilus</option>  
                <option id="GCF_000012285">&nbsp;&nbsp;Sulfolobus acidocaldarius</option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
                <option id="APLAT">&nbsp;&nbsp;Spirulina platensis</option>
              <option id="ENVIRO" style="font-weight: bold">Environmental applications</option>
                <option id="GCF_001638825">&nbsp;&nbsp;Deinococcus radiodurans</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="GCF_000238715">&nbsp;&nbsp;Klebsiella sp.</option>
                <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri </option>
                <option id="GCF_004522175">&nbsp;&nbsp;Paracoccus sp.</option>
                <option id="PPUT160488">&nbsp;&nbsp;Pseudomonas putida</option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="YARROWIA">&nbsp;&nbsp;Yarrowia lipolytica</option>
              <option id="AGRI" style="font-weight: bold">Agriculture</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
              <option id="MATERIALS" style="font-weight: bold">Materials manufacturing</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="PPUT160488">&nbsp;&nbsp;Pseudomonas putida</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
            </select>
            <!-- <h3>Select by organism</h3>
            <select id="list-container" autocomplete="off" >
              <option selected="selected" disabled="disabled">-- Select your chassis organism --</option>
              <optgroup label="Prokaryotes" class="collapsible"></optgroup>
                <optgroup label="&nbsp;Bacteriae"></optgroup>
                  <optgroup label="&nbsp;&nbsp;Aerobic"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Positive"></optgroup>
                      <option id="GCF_007641235">&nbsp;&nbsp;&nbsp;&nbsp;Corynebacterium sp.</option>
                      <option id="GCF_001638825">&nbsp;&nbsp;&nbsp;&nbsp;Deinococcus radiodurans</option>
                      <option id="SCO">&nbsp;&nbsp;&nbsp;&nbsp;Streptomyces spp.</option>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Negative"></optgroup>
                      <option id="PPUT160488">&nbsp;&nbsp;&nbsp;&nbsp;Pseudomonas putida</option>
                      <option id="GCF_000091545">&nbsp;&nbsp;&nbsp;&nbsp;Thermus thermophilus</option>
                  <optgroup label="&nbsp;&nbsp;Anaerobic/Facultative"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Positive"></optgroup>
                      <option id="BSUB">&nbsp;&nbsp;&nbsp;&nbsp;Bacilus Subtilis</option>
                      <option id="iHN637">&nbsp;&nbsp;&nbsp;&nbsp;Clostridium ljungdahlii</option> 
                      <option id="iNF517">&nbsp;&nbsp;&nbsp;&nbsp;Lactococcus lactis</option>   
                      <option id="GCF_900475095">&nbsp;&nbsp;&nbsp;&nbsp;Streptococcus mutans</option>
                      <option id="GCF_010120595">&nbsp;&nbsp;&nbsp;&nbsp;Streptococcus thermophilus</option>  
                    <optgroup label="&nbsp;&nbsp;&nbsp;Gram Negative"></optgroup>
                      <option id="ECOLI">&nbsp;&nbsp;&nbsp;&nbsp;Escherichia Coli</option>
                      <option id="iAF987">&nbsp;&nbsp;&nbsp;&nbsp;Geobacter metallireducens</option>
                      <option id="GCF_000007985">&nbsp;&nbsp;&nbsp;&nbsp;Geobacter sulfurreducens</option>
                      <option id="GCF_000238715">&nbsp;&nbsp;&nbsp;&nbsp;Klebsiella sp.</option>
                      <option id="GCF_004522175">&nbsp;&nbsp;&nbsp;&nbsp;Paracoccus sp.</option>
                      <option id="GCF_00014615">&nbsp;&nbsp;&nbsp;&nbsp;Shewanella oneidensis</option>
                      <option id="GCF_000340785">&nbsp;&nbsp;&nbsp;&nbsp;Synechocystis spp.</option>
                      <option id="iLJ478">&nbsp;&nbsp;&nbsp;&nbsp;Thermotoga maritima </option>
                  <optgroup label="&nbsp;&nbsp;Special cases"></optgroup>
                    <option id="GCF_000008765">&nbsp;&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <optgroup label="&nbsp;Archeae"></optgroup>
                  <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri </option>
                  <option id="GCF_000012285">&nbsp;&nbsp;Sulfolobus acidocaldarius</option>
              <optgroup label="Eukaryotes"></optgroup>
                <optgroup label="&nbsp;Fungi"></optgroup>
                  <optgroup label="&nbsp;&nbsp;Yeast"></optgroup>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Aerobic"></optgroup>
                      <option id="YARROWIA">&nbsp;&nbsp;&nbsp;&nbsp;Yarrowia lipolytica</option>
                    <optgroup label="&nbsp;&nbsp;&nbsp;Anaerobic/Facultative"></optgroup>
                      <option id="YEAST">&nbsp;&nbsp;&nbsp;&nbsp;Saccharomyces cerevisiae</option>
                      <option id="CALB">&nbsp;&nbsp;&nbsp;&nbsp;Candida albicans</option>
                  <optgroup label="&nbsp;Algae"></optgroup>
                    <option id="iRC1080">&nbsp;&nbsp;Chlamydomonas reinhardtii</option>
                    <option id="GCF_000733215">&nbsp;&nbsp;Chlorella</option>
                    <option id="APLAT">&nbsp;&nbsp;Spirulina platensis</option>
                <optgroup label="&nbsp;Plants">
                  <option id="ARA">&nbsp;Arabidopsis thaliana</option>
            </select>
          </div>
          <div class = select_application>
            <h3>Select by application</h3>
            <select id="list-container_apps" autocomplete="off">
              <option selected="selected" disabled="disabled">-- Select your chassis application --</option>
              <optgroup label="Laboratory"></optgroup>
                <option id="ARA">&nbsp;&nbsp;Arabidopsis thaliana</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="YEAST">&nbsp;&nbsp;Saccharomyces cerevisiae</option>
                <option id="SCO">&nbsp;&nbsp;Streptomyces spp.</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
              <option id="BIOFUEL" style="font-weight: bold">Biofuels</option>
                <option id="iRC1080">&nbsp;&nbsp;Chlamydomonas reinhardtii</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="iHN637">&nbsp;&nbsp;Clostridium ljungdahlii</option> 
                <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri </option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="iLJ478">&nbsp;&nbsp;Thermotoga maritima </option>
                <option id="YARROWIA">&nbsp;&nbsp;Yarrowia lipolytica</option>
                <option id="GCF_000733215">&nbsp;&nbsp;Chlorella</option>
              <option id="ELECT" style="font-weight: bold">Electricity generation</option>
                <option id="iAF987">&nbsp;&nbsp;Geobacter metallireducens</option>
                <option id="GCF_000007985">&nbsp;&nbsp;Geobacter sulfurreducens</option>
                <option id="GCF_00014615">&nbsp;&nbsp;Shewanella oneidensis</option>
              <option id="PHARMA" style="font-weight: bold">Pharmaceutical</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="iNF517">&nbsp;&nbsp;Lactococcus lactis</option> 
                <option id="SCO">&nbsp;&nbsp;Streptomyces spp.</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
              <option id="FOOD" style="font-weight: bold">Food industry</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="iNF517">&nbsp;&nbsp;Lactococcus lactis</option> 
                <option id="YEAST">&nbsp;&nbsp;Saccharomyces cerevisiae</option>
                <option id="GCF_010120595">&nbsp;&nbsp;Streptococcus thermophilus</option>  
              <option id="COSMETICS" style="font-weight: bold">Cosmetics</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="GCF_000733215">&nbsp;&nbsp;Chlorella</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="GCF_007641235">&nbsp;&nbsp;Corynebacterium sp.</option>
                <option id="GCF_004522175">&nbsp;&nbsp;Paracoccus sp.</option>
                <option id="GCF_900475095">&nbsp;&nbsp;Streptococcus mutans</option>
                <option id="GCF_010120595">&nbsp;&nbsp;Streptococcus thermophilus</option>  
                <option id="GCF_000012285">&nbsp;&nbsp;Sulfolobus acidocaldarius</option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
                <option id="APLAT">&nbsp;&nbsp;Spirulina platensis</option>
              <option id="ENVIRO" style="font-weight: bold">Environmental applications</option>
                <option id="GCF_001638825">&nbsp;&nbsp;Deinococcus radiodurans</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
                <option id="GCF_000238715">&nbsp;&nbsp;Klebsiella sp.</option>
                <option id="iAF692">&nbsp;&nbsp;Methanosarcina barkeri </option>
                <option id="GCF_004522175">&nbsp;&nbsp;Paracoccus sp.</option>
                <option id="PPUT160488">&nbsp;&nbsp;Pseudomonas putida</option>
                <option id="GCF_000340785">&nbsp;&nbsp;Synechocystis spp.</option>
                <option id="YARROWIA">&nbsp;&nbsp;Yarrowia lipolytica</option>
              <option id="AGRI" style="font-weight: bold">Agriculture</option>
                <option id="BSUB">&nbsp;&nbsp;Bacilus Subtilis</option>
                <option id="ECOLI">&nbsp;&nbsp;Escherichia Coli</option>
              <option id="MATERIALS" style="font-weight: bold">Materials manufacturing</option>
                <option id="GCF_000008765">&nbsp;&nbsp;Clostridium acetobutylicum</option>
                <option id="PPUT160488">&nbsp;&nbsp;Pseudomonas putida</option>
                <option id="GCF_000091545">&nbsp;&nbsp;Thermus thermophilus</option>
                <option id="CALB">&nbsp;&nbsp;Candida albicans</option>
            </select> -->
          </div>
         </div>

        <script>
          
          $("#list-container").select2();
          $("body").on('click', '.select2-results__group', function() {
            $(this).siblings().toggle();
          })

        </script>

        <div class="info-subtitle">Select detectable route</div>
        <input type="button" data-toggle="modal" href="#modal_producibles" class="btn button_producibles" id="producibles" value="Producible"/>
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_prod" prod_id="{{prod}}" autocomplete="off" onkeydown="return false;" id="txtvalue_prod" value="{{prod_name}}"/>
        <button  id="Delete selection" onclick= "delete_producible()" class="left_panel_button">&times;</button>
        <input type="button" data-toggle="modal" href="#modal_detectables" class="btn button_detectables" id="detectables" value="Detectable"/>
        <input type="text" onfocus="blur()" style="border:none" class="txtvalue_det" det_id="{{det}}" autocomplete="off" onkeydown="return false;" id="txtvalue_det" value="{{det_name}}"/>
        <button  id="Delete selection" onclick= "delete_detectable()" class="left_panel_button">&times;</button>

        <input id="load_pathway" type="button" onclick="show_pathways()" class="default_button btn btn-outline-dark" value="Generate" style="margin-top: 10px"/>
         <p id="no_choosen_error" style="visibility: hidden; margin-top:2%">You must select producible and detectable compounds</p>
<!-- <ul id="info_pair">
            <li id="txt_intermediate_compounds" class="info_txt">Intermediate compounds:</li>
            <li id="txt_chassis_compounds" class="info_txt">Compounds in chassis:</li>
            <li id="txt_heterologous_compounds" class="info_txt">Heterologous compounds:</li>
            <li id="txt_suplement_compounds" class="info_txt">Supplement compounds:</li>
            <li id="txt_precursor_compounds" class="info_txt">Precursor compounds:</li>
          </ul> -->
        <div id="info_pair">
          <p id="txt_intermediate_compounds" class="info_txt">Intermediate compounds:</p>
          <p id="txt_chassis_compounds" class="info_txt">Compounds in chassis:</p>
          <p id="txt_heterologous_compounds" class="info_txt">Heterologous compounds:</p>
          <p id="txt_suplement_compounds" class="info_txt">Supplement compounds:</p>
          <p id="txt_precursor_compounds" class="info_txt">Precursor compounds:</p>
        </div>
        <div id="pathway_selection">
         <div class="info-subtitle">Pathways information</div>
         <div class="spacer"></div>
         <div id="table_choice">
             <!-- Will be filled by viewer.js -->
         </div>
         <input id="view_all_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Show all pathways"/>
         <input id="hide_all_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Hide all pathways"/>
         <input id="redraw_pathways_button" type="button" class="default_button btn btn-outline-dark" value="Refresh layout" style="margin-top:2%"/>
         <input id="download_json_button" type="button" class="default_button btn btn-outline-dark" value="Download JSON" style="margin-top:2%"/>
         <input id="download_sbml_button" type="button" class="default_button btn btn-outline-dark" value="Download SBML" style="margin-top:2%"/>
         <script>
            document.getElementById("download_sbml_button").onclick = function(){
              location.href = "/api/paths/"+String(product_chosen)+"/"+String(detect_chosen);
            };
            document.getElementById("download_json_button").onclick = function(){
               location.href = "/api/json_paths/"+String(product_chosen)+"/"+String(detect_chosen);
            }
         </script>
     </div>
</div>
                
      <div class="modal fade" id="modal_producibles">
         <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
              <div class="modal-header modal_title">Select the starting product of the detectable pathway
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
              <input type="text" id="searchInput_prod" class="Search_box" placeholder="Search...">
              <button  id="Delete selection" onclick= "delete_auto_producible()" class="left_panel_button">&times;</button> 
               <div class="modal-header modal_subtitle">Detectable compound selected:
                  <textarea class="txtselected_det" autocomplete="off" onkeydown="return false;" readonly="readonly" id="det_selected"></textarea>
               </div> 
              <p id="noResultMessage_prod"></p>
              <div id="suggesstion-box_producibles"></div>
              <div id="producibles_modal_table"></div></div>
                        </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->

                                         
        <div class="modal fade" id="modal_detectables">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header modal_title">Select the detectable compound
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
              <input type="text" id="searchInput_det" class="Search_box" placeholder="Search...">
              <button  id="Delete selection" onclick= "delete_auto_detectable()" class="left_panel_button">&times;</button>
              <div class="modal-header modal_subtitle">Producible compound selected:
               <textarea class="txtselected_prod" autocomplete="off" onkeydown="return false;" readonly="readonly" id="prod_selected"></textarea>
            </div> 
              <p id="noResultMessage_det"></p>
              <div id="suggesstion-box_detectables"></div>
              <div id="detectables_modal_table"></div></div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
      
      <input id="open_interaction_bttn" type="button" class="default_button btn btn-outline-dark" value="Show" onclick="open_interaction()"/>

     <div class="visualizer" id="base">
         <script>
         $( function() {
             $( "#base" ).load( "{% static 'website/files/body_viz.html' %}" );
         });
       </script>
       </div>
      <div id="intro">
         <script>
            $( function() {
                $( "#intro" ).load( "{% static 'website/files/intro.html' %}" );
            });
          </script> 
      </div>
    <div style="clear:both"></div>
</div>



<!-- Javascript files-->
      <script src="{% static 'website/js/jquery.min.js'%}"type="text/javascript"></script>
      <script src="{% static 'website/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'website/js/jquery-ui.min.js'%}"></script>
      <!-- Table sorter -->
      <script src="{% static 'website/js/jquery.tablesorter.min.js'%}"></script>
      <!-- Main functions -->
      <script src="{% static 'website/js/Home.js'%}"></script>
      <!-- Viewer -->
      <script src="{% static 'website/js/viewer_visualizer.js'%}"></script>
      <!-- CSS stuff -->
      <link href="{% static 'website/css/viewer_visualizer.css'%}" rel="stylesheet" type="text/css"/>
 
      {% endblock %}
