{% load static %}
<!DOCTYPE html>

<!--
__author__ = 'Thomas Duigou (thomas.duigou@inra.fr)'
__license__ = 'MIT'
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>

    <title>Pathway viewer</title>

    <!-- Local libraries -->
    <script src="{% static 'website/js/jquery-3.6.0.min.js'%}"></script>   
    <script src="{% static 'website/js/cytoscape-3.19.0.min.js'%}"></script>     
    <script src="{% static 'website/js/jquery-ui-1.12.1.min.js'%}"></script>  
    <script src="{% static 'website/js/jquery.dataTables.js'%}"></script>   

    <!-- Dagre layout -->
    <script src="{% static 'website/js/dagre-0.8.5.min.js'%}"></script>
    <script src="{% static 'website/js/cytoscape-dagre-2.3.2.'%}js"></script>

    <!-- Data -->
    <!--<script src="{% static 'website/files/network.json'%}"></script>
    <script src="{% static 'website/files/prod_det.json'%}"></script>-->

    <!-- Viewer -->
    <script src="{% static 'website/js/viewer_visualizer.js'%}"></script>

    <!-- CSS and JS stuff -->
    <link href="{% static 'website/css/viewer_visualizer.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/css/viewer.css'%}" rel="stylesheet" type="text/css"/>
   <link href="{% static 'website/css/jquery.tablesorte.theme.default.min.css'%}" rel="stylesheet" type="text/css"/>
   <script src="{% static 'website/js/jquery.min.js'%}"type="text/javascript"></script>
   <script src="{% static 'website/js/bootstrap.min.js'%}"></script> 
   <script src="{% static 'website/js/dataTables.jqueryui.min.js'%}"></script>
   <script src="{% static 'website/js/dataTables.stateRestore.min.js'%}"></script> 
   <script src="{% static 'website/js/jquery.dataTables.min.js'%}"></script> 
   <script src="{% static 'website/js/stateRestore.jqueryui.min.js'%}"></script> 
   <script src="{% static 'website/js/dataTables.buttons.min.js'%}"></script> 
   <script src="{% static 'website/js/buttons.jqueryui.min.js'%}"></script>
   <script src="{% static 'website/js/dataTables.bootstrap.min.js'%}"></script>  
   <script src="{% static 'website/js/dataTables.responsive.min.js'%}"></script> 
   <script src="{% static 'website/js/responsive.bootstrap.min.js'%}"></script>
   <script src="{% static 'website/js/Home.js'%}"></script>

    <!-- Testing chroma.js -->
    <script src="{% static 'website/js/chroma-2.1.0.min.js'%}"></script>

    <!-- Table sorter -->
    <script src="{% static 'website/js/jquery.tablesorter-2.31.3.min.js'%}"></script>
    <link href="{% static 'website/css/jquery.tablesorte.theme.default-2.31.2.min.css'%}" rel="stylesheet" type="text/css"/>

    <!-- Jq.ui css files -->
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.structure.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.structure.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/dataTables.jqueryui.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/buttons.jqueryui.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/stateRestore.jqueryui.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/responsive.bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css'%}">

<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="{% block meta_description %}Welcome to our webserver{% endblock %}">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>{% block title %}Web server{% endblock %}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css'%}">
<!-- style css -->
<link rel="stylesheet" href="{% static 'website/css/style.css'%}">
<!-- Responsive-->
<link rel="stylesheet" href="{% static 'website/css/responsive.css'%}">
<!-- fevicon -->
<link rel="icon" href="{% static 'website/images/fevicon.ico' %}"/>
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
<!-- CSS stuff -->
<link href="{% static 'website/css/viewer.css'%}" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs//jquery/3.1.0/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>

    <body class="main-layout">
        <!-- end loader -->
        <!-- top -->
                      <!-- header -->
           <header class="header-area">
              <div class="left">
                 <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>
              <div class="container">
                 <div class="row d_flex">
                    <div class="col-sm-3 logo_sm">
                          <a href="index.html"></a>
                       </div>
                    </div>
                    <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                       <div class="navbar-area">
                          <nav class="site-navbar">
                             <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="index.html">Detspace</a></li>
                                <li><a href="api/">API</a></li>                                
                             </ul>
                             <button class="nav-toggler">
                             <span></span>
                             </button>
                          </nav>
                          <main id="swup" class="transition-fade"></main>
                       </div>
                    </div>
                 </div>
              </div>
           </header>
        <!-- end header -->
              <div class="full_bg_cha">
        <!-- header inner -->
<div class="main_body">
    <div class="left__buttons_panel">
        <br>
        <input id="load_pathway" type="button" onclick="show_pathways()" value="show_pathways"/>
        <input id="hide_pathway" type="button" onclick="" value="hide_pathways"/>
        <br><br>
        <input id="Chassis" type="button" class="button_chassis" onclick="hideShow()" value="Chassis"/> <input type="text" autocomplete="off" onkeydown="return false;" id="txtvalue" class="input_box_chassis"/>
        <input id="Delete selection" type="button" onclick="delete_chassis()" value="Clean"/>
        <script>
            function ddlselect()
            {
                var d=document.getElementById("list-container");
                var displaytext=d.options[d.selectedIndex].text;
                //var displaytext="Chassis: "+d.options[d.selectedIndex].text+"  Taxon_ID: ";
                document.getElementById("txtvalue").value=displaytext;
                $("#dialogo").dialog("close");
                var display =1;
            }
        </script>
        
        <div id="dialogo" class ="hidden" style="display: none;">
            <select id="list-container" autocomplete="off" onchange="ddlselect();">
                <option selected="selected" disabled="disabled">-- Select your chassis--</option>
                <option><a href="#">Bacilus Subtilis</a></option>
                <option><a href="#">Clostridium acetobutylicum</a></option>
                <option><a href="#">Deinococcus radiodurans</a></option>
                <option><a href="#">Escherichia Coli</a></option>
                <option><a href="#">Geobacter sulfurreducens</a></option>
                <option><a href="#">Klebsiella spp.</a></option>
                <option><a href="#">Mycoplasma spp.</a></option>
                <option><a href="#">Pseudomonas putida</a></option>
                <option><a href="#">Saccharomyces cerevisiae</a></option>
                <option><a href="#">Shewanella oneidensis</a></option>
                <option><a href="#">Streptomyces spp.</a></option>
                <option><a href="#">Synechocystis spp.</a></option>
                <option><a href="#">Yarrowia lipolytica</a></option>

            
            
            </select>
         </div>
        <br><br>
        <input type="button" data-toggle="modal" href="#myModal" class="button_producibles" id="producibles" value="Producibles"/><input type="text" autocomplete="off" onkeydown="return false;" id="txtvalue_prod"/>
        <input id="Delete selection" type="button" onclick="delete_producible()" value="Clean"/>
        <div class="modal fade" id="myModal">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Producibles</h4>
             </div>
             <div class="modal-body">
               <table class="table table-bordered table-condensed table-hover" id="producibles_table"></table>
               </table>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
            <script>
               const tableRows = document.querySelectorAll(".producibles_table tbody tr");

                     function setTableLinksHeights() {

                     for (const tableRow of tableRows) {

                        const tableRowLinks = tableRow.querySelectorAll("a");

                        setEqualHeights(tableRowLinks);

                     }

                     }

                     function setEqualHeights(el) {

                     let counter = 0;

                     for (let i = 0; i < el.length; i++) {

                        el[i].style.removeProperty("height");

                        const singleHeight = el[i].offsetHeight;

                        if (counter < singleHeight) {

                           counter = singleHeight;

                        }

                     }

                     for (let i = 0; i < el.length; i++) {

                        el[i].style.height = `${counter}px`;

                     }

                     }

                     setTableLinksHeights();

                     window.addEventListener("resize", setTableLinksHeights);

                                 </script>
                                 <script>
                                    function ddlselect_prod()
                                    {
                                       var d=document.getElementById("producibles_table");
                                       for(var i = 0; i < d.rows.length; i++)
                        {
                           d.rows[i].onclick = function()
                           {
                              rIndex = this.rowIndex;
                                 //var detec=$(<a href="#" onclick="ddlselect_prod()">this.cells[1].innerHTML+" "+this.cells[2].innerHTML);
                                 var produc=$(this.cells[1]);
                                    console.log(produc.text());
                                    product_chosen=produc.attr("id");
                                    document.getElementById("txtvalue_prod").value=produc.text();
                                    $("#txtvalue_prod").attr("prod_id",produc.attr("id"));
                                    $('#myModal').modal('hide');
                                    $('.modal-backdrop').remove();
                                    if(product_chosen!=-1 && detect_chosen!=-1){
                                       $.getScript("api/net/"+String(product_chosen)+"/"+String(detect_chosen));
                                    }
                              

                           }
                        }
                                    }

                                 </script>
         <br><br>
        <input type="button" data-toggle="modal" href="#mynewModal" class="button_detectables" id="detectables" value="Detectables"/><input type="text" autocomplete="off" onkeydown="return false;" id="txtvalue_det"/>
        <input id="Delete selection" type="button" onclick="delete_detectable()" value="Clean"/>
        <div class="modal fade" id="mynewModal">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Detectables</h4>
             </div>
             <div class="modal-body">
               <table class="table table-bordered table-condensed table-hover" id="detectables_table"></table>
               </table>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
            <script>
               const tableRows = document.querySelectorAll(".detectables_table tbody tr");

                     function setTableLinksHeights() {

                     for (const tableRow of tableRows) {

                        const tableRowLinks = tableRow.querySelectorAll("a");

                        setEqualHeights(tableRowLinks);

                     }

                     }

                     function setEqualHeights(el) {

                     let counter = 0;

                     for (let i = 0; i < el.length; i++) {

                        el[i].style.removeProperty("height");

                        const singleHeight = el[i].offsetHeight;

                        if (counter < singleHeight) {

                           counter = singleHeight;

                        }

                     }

                     for (let i = 0; i < el.length; i++) {

                        el[i].style.height = `${counter}px`;

                     }

                     }

                     setTableLinksHeights();

                     window.addEventListener("resize", setTableLinksHeights);

                                 </script>
                                 <script>
                                    function ddlselect_det()
                                    {
                                       var d=document.getElementById("detectables_table");
                                       for(var i = 0; i < d.rows.length; i++)
                        {
                           d.rows[i].onclick = function()
                           {
                                 rIndex = this.rowIndex;
                                 //var detec=$(<a href="#" onclick="ddlselect_prod()">this.cells[1].innerHTML+" "+this.cells[2].innerHTML);
                                 var detec=$(this.cells[1]);
                                    console.log(detec.text());
                                    detect_chosen=detec.attr("id")
                                    document.getElementById("txtvalue_det").value=detec.text();
                                    $("#txtvalue_det").attr("det_id",detec.attr("id"));
                                    $('#mynewModal').modal('hide');
                                    $('.modal-backdrop').remove();
                                    if(product_chosen!=-1 && detect_chosen!=-1){
                                       $.getScript("api/net/"+String(product_chosen)+"/"+String(detect_chosen));
                                    }
                              

                           }
                        }
                                    }
            </script>

        <br><br>
    </div>
 
    <div class="visualizer" id="base">
   

      <script>
         $( function() {
             $( "#base" ).load( "{% static 'website/files/body_viz.html' %}" );
         });
       </script>  
    </div>

    <div style="clear:both">
    
    </div>
</div>


<!-- Javascript files-->
<script src="{% static 'website/js/jquery.min.js'%}"type="text/javascript"></script>
      <script src="{% static 'website/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'website/js/bootstrap.min.js'%}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script src="{% static 'website/js/owl.carousel.min.js'%}"></script>
      <script src="{% static 'website/js/custom.js'%}"></script>
      <script src="{% static 'website/js/cytoscape.min.js'%}"></script>
      <script src="{% static 'website/js/cytoscape.umd.js'%}"></script>
      <script src="{% static 'website/js/cytoscape.esm.min.js'%}"></script>
      <script src="{% static 'website/js/cytoscape.cjs.js'%}"></script>
      <script src="{% static 'website/js/cytoscape.esm.js'%}"></script>
      <script src="{% static 'website/js/viewer.js'%}"></script>
      <script src="{% static 'website/js/chroma.min.js'%}"></script>
      <script src="{% static 'website/js/dagre.js'%}"></script>
      <script src="{% static 'website/js/cytoscape-dagre.js'%}"></script>
      <script defer src="{% static 'website/node_modules/swup/dist/swup.umd.js'%}"></script>
      <script defer src="{% static 'website/js/script.js'%}"></script>
      <script src="{% static 'website/js/Home.js'%}"></script>
      <script src="{% static 'website/js/Producibles.js'%}"></script>
      <script src="{% static 'website/js/jquery-ui.js'%}"></script>
      <script src="{% static 'website/js/jquery-ui.min.js'%}"></script>
      <script src="{% static 'website/js/script.js'%}"></script> 
      <script src="{% static 'website/js/dataTables.jqueryui.min.js'%}"></script>
      <script src="{% static 'website/js/dataTables.stateRestore.min.js'%}"></script> 
      <script src="{% static 'website/js/stateRestore.jqueryui.min.js'%}"></script> 
      <script src="{% static 'website/js/dataTables.buttons.min.js'%}"></script> 
      <script src="{% static 'website/js/buttons.jqueryui.min.js'%}"></script>
      <script src="{% static 'website/js/dataTables.bootstrap5.min.js'%}"></script>  
      <script src="{% static 'website/js/dataTables.responsive.min.js'%}"></script> 
      <script src="{% static 'website/js/responsive.bootstrap5.min.js'%}"></script> 
      <!-- Table sorter -->
      <script src="{% static 'website/js/jquery.tablesorter.min.js'%}"></script>
<!--  footer -->
<footer>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
       <div class="container">
          <div class="row">
                   <div class="col-lg-2 col-md-6 col-sm-6">
                      <div class="hedingh3 text_align_left">
                         <h3>Resources</h3>
                         <ul class="menu_footer">
                            <li><a href="{% url 'home' %}">Home</a><li>
                            <li><a href="javascript:void(0)">What we do</a><li>
                            <li> <a href="javascript:void(0)">Media</a><li>
                         </ul>
                        
      
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="hedingh3 text_align_left">
                        <h3>About</h3>
                         <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                      </div>
                   </div>
                
           
                  
                   <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="hedingh3  text_align_left">
                         <h3>Contact  Us</h3>
                           <ul class="top_infomation">
                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                      Making this the first true  
                   </li>
                   <li><i class="fa fa-envelope" aria-hidden="true"></i>
                      <a href="Javascript:void(0)">Email : demo@gmail.com</a>
                   </li>
                </ul>
                       
                      
                </div>
             </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                      
                         </div>
                      </div>
                   </div>
               
          </div>
       </div>
       <br><br><br><br><br><br><br><br><br><br><br>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-8 offset-md-2">
                   <p>© 2020 All Rights Reserved.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>


</body>
</html>
