{% extends 'base.html' %}

{% load static %}

{% block content %}

 <!-- <br><br><br><br><br><br><br><br><br><br><br> -->
      <!-- info -->
      <body>
      <div class="about">
         <div class="main_body">
            <div class="container_width">
   <!--                   <div class="col-md-7"> -->
                     <div class="titlepage text_align_left">
                        <h2>DetSpace: Engineering detectable pathways for bio-based production</h2>
                        <p><b>DetSpace</b> allows the selection and design of biological circuits for sensing of bio-based chemicals  
                           by its metabolic conversion into an allosteric transcription factor-based detectable molecule. In that way, <b>DetSpace</b> 
                           provides a tool for precision engineering of screening and dynamic regulation of bio-based pathways of industrial interest for the bioeconomy.
                        </p>
                        <h3>A walk-through tutorial</h3>
                        <h4>Start</h4>
                        <p>In this tutorial, we assume that the user wants to produce <a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:18346" target="_blank">vanillin</a>, a flavoring agent, 
                           in the <i>E. coli</i> chassis (for engineered production routes 
                           see for instance 
                           <a href="https://doi.org/10.1007/s10529-005-3561-4" target="_blank">Yoon et al, <i>Biotechnol. Lett.</i>, 2005</a>.)
                          </p>
                           <div>
                              <img src="{% static 'website/images/vanilla-stick.jpg'%}" alt="vanilla" style="width:150px"/>
                              <img src="{% static 'website/images/vanillin.png'%}" alt="vanillin" style="width:150px"/>
                           </div>
                           <h4>Chassis selection</h4>
                           <p>Therefore, we start by selecting the <i>E. coli</i> chassis:
                           </p>
                           <div>
                              <img src="{% static 'website/images/chassis.png'%}" alt="chassis" style="width:250px"/>
                           </div>
                           <h4>Target compound selection</h4>
                           <p>Then, the target product vanillin is selected from the list of producible compounds:
                           </p>
                           <div>
                              <img src="{% static 'website/images/prodsel.png'%}" alt="prodsel" style="width:350px"/>
                              <img src="{% static 'website/images/producible.png'%}" alt="producible" style="width:250px"/>
                           </div>
                           <h4>Detectable compound selection</h4>
                           <p>From the list of detectable compounds that can be linked to the vanillin product, 
                              <a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:16865" target="_blank">GABA</a> 
                              (&gamma;-amminobutyric acid), an inhibitory neurotransmitter, is selected: 
                           </p>
                           <div>
                              <img src="{% static 'website/images/seldet.png'%}" alt="detsel" style="width:350px"/>
                              <img src="{% static 'website/images/selgaba.png'%}" alt="detectable" style="width:250px"/>
                           </div>
                           <h4>Pathway generation</h4>
                           <p>Next, the detectable pathway that converts vanillin into GABA is generated and graphically
                              shown:
                           </p>
                           <div>
                              <img src="{% static 'website/images/vanillinpath.png'%}" alt="pathway" style="width:100px"/>
                           </div>
                           <p>If multiple pathways are available, they will appear at the table on the right panel, 
                              each one indicating the number of steps and its associated score according to the 
                              <a href="https://retrorules.org/" target="_blank">RetroRules</a> reaction viability score.
                              By hovering or clicking on a pathway, the selected pathway will be highlighted on the 
                              graph.
                           </p> 
                           <div>
                              <img src="{% static 'website/images/pathway.png'%}" alt="pathway" style="width:250px"/>
                           </div>
                           <p>Detailed information about each compound in the pathway can be obtained by clickin on the node 
                              in the pathway, including chemical structure and link to databases. In the case of the producible 
                              compound, i.e., vanillin, it is possible to display the production pathway associated with the compounds. In the case 
                              of the detectable compound, i.e., GABA, information about the transcription factor that can be
                              allosterically regulated by this effector is provided. 
                           </p>
                           <p>Similarly, for each enzyme in the pathway, information about the chemical transformation can be 
                              obtained by clicking on the node. In addition, a link to the <a href="http://selenzyme.synbiochem.co.uk/" 
                              target="_blank">Selenzyme</a> service is provide to search for putative enzyme sequences catalyzing 
                              the desired reaction.
                           </p>
                           <h4>Exporting the results</h4>
                           <p>The results can be exported into <a href="https://cytoscape.org/" target="_blank">Cytoscape</a> exchange JSON format
                           and in <a href="https://doi.org/10.1038/s41467-022-32661-x" target="_blank">Galaxy SynBioCAD</a> rpSBML format, allowing
                        in that way its further processing to obtain the plasmid sequences of the design of the associated 
                        genetic circuit.</p>
   

                        <h3>Steps in the design process:</h3>
                        
                           <ol>
                              <li>Select the <b>chassis organism</b> where the pathway will be engineered. The list contains a selection of main industrial and prototyping chassis 
                                 used by the synthetic biology and metabolic engineering community. The selected chassis will determine the number of endogenous and heterologous metabolites  
                                 that are present in the pathway. Typically, a DetSpace pathway should contain a high ratio of heterologoues metabolites in order to avoid cross-talk and 
                                 flux diversion and, therefore, this consideration might determine in some cases the selection of the appropriate chassis. 
                              </li>
                              <li>Select the <b>target compound</b> of interest from a list that contains a comprehensive metabolic map for production of bio-based chemicals. 
                                 DetSpace provides a curated list of bio-based chemicals that are essential building blocks and compounds for the bioeconomy that is based on the 
                                 <a href="https://doi.org/10.1016/j.tibtech.2022.07.013" target="_blank">metabolic map</a> 
                                 collected by S.Y Lee and colleagues in 2023. Only those compounds associated with detectable pathways are available for selection in the list.
                              </li>
                              <li>Select the <b>effector compound</b> of a transcription factor that can be connected to the target product. A curated list of detectable molecules that
                                 can act as allosteric effectors for transcription factors is provided based on the <a href="https://doi.org/10.1186/s12859-023-05201-7" target="_blank">molecule-transcription factor 
                                    pairs database</a> collected by P. Carbonell and colleagues in 2023. For each selected target compound, only those effectors that can be associated through a DetSpace pathway to 
                                    the compound are shown in the list.
                              </li>
                              <li><b>Retrosynthetic routes</b> for production of the precursors in the chassis are graphically displayed, as well as required supplements to add to the growth media. 
                                 The routes are calculated based on a Monte Carlo tree search algorithm that prioritizes the pathways involving less complex biochemical transformations from the reaction rules 
                                 <a href="https://retrorules.org/" target="_blank">RetroRules</a> database. Each given solution pair 
                                 of target product and effectors can lead to multiple alternatives pathways. A prioritization list is provided based on the reaction rules scores. 
                                 The pathways are displayed graphically in an interactive map where the user can select individual pathways and explore in more detail the intermediates in the pathway, 
                                 as well as the information about each enzymatic transformation.
                              </li>
                              <li>For the target bio-based production, the main <b>backbone upstream routes</b> for bio-based production are detailed. Main production routes of bio-based compounds are provided based on 
                                 their metabolic map, which can be further analyzed through the use of bioretrosynthesis tools such as <a href="https://doi.org/10.1016/j.ymben.2017.12.002" target="_blank">RetroPath 2.0</a>. 
                              </li>
                              <li><b>DetSpace</b> provides the list of enzyme sequences, selected through the <a href="https://doi.org/10.1093/bioinformatics/bty065" target="_blank">Selenzyme</a> 
                                 algorithm and the combinatorial library 
                                 of the genetic circuits for building the detectable pathway. The selected genes and pathways can be exported into SBML format so that they can be transferred to the 
                                 <a href="https://doi.org/10.1038/s41467-022-32661-x" target="_blank">Galaxy SynBioCAD</a> genetic design workflow, in order to build and assembly a combinatorial library 
                                 for further engineering and optimization of the DetSpace detectable pathway for bio-based production.
                              </li>
                           </ol> 
                        </p>
                        
                        <p>
                           <small>Contact: <a href="mailto:pablo.carbonell@upv.es">pablo.carbonell@upv.es</a></small>
                        </p>
                     </div>
               </div>
            </div>
         <!-- end info -->
      </div>
{% endblock %}